<!doctype html>
<html>
<head>
  <title>Chat</title>
  <meta name="viewport" content="width=600px" />
  <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body onload="auth();">
  <div class="container">
    <div class="row">
      Luccas Henrique Braga de Almeida 7986796 <br/>
      Gabriel Rodrigues do Prado Rossales 6608843 <br/>
      Rafael Bueno da Silva 8937271 <br/>
    </div>
    <div class="row">
      <div class="col-md-12">
        <textarea disabled id="msgs" style="height: 300px"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <input class="form-control" type="text" id="input"/>
      </div>
      <div class="col-md-2">
        <input class="btn btn-primary" type="button" id="send" value="enviar" onclick="sendMsg()">
      </div>
      </div>
    </div>
  </div>

</body>
<script>
name = "";

function auth(){
  name = prompt("Seu nome:");
  $.get( "/auth?name="+name, function(data){
    check();
  });
}

function sendMsg(){
  msg = $("#input").val();
  $.get( "/sendMsg?name="+name+"&msg="+msg);
  $("#input").val("");
}
prev = "";

function check(){
  $.get( "/getMsg?name="+name, function(data) {
    if(prev!=data){
      prev = data;
      $("#msgs").val("");
      $.each(data, function () {
         $.each(this, function (name, value) {
           if(name=="user"){
             $("#msgs").val($("#msgs").val()+value+" diz:\n");
           }else{
             $("#msgs").val($("#msgs").val()+value+"\n");
           }
         });
      });
    }
    setTimeout(check, 1000);
  });
}

</script>
</html>
