{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

Luccas Henrique Braga de Almeida 7986796 <br/>
Gabriel Rodrigues do Prado Rossales 6608843 <br/>
Rafael Bueno da Silva 8937271 <br/>
<div id="players">
  <div class="">Vez do:</div>
  <div id="X" class="">Player X</div>
  <div id="O" class="">Player O</div>
  <div class="">Você é:</div>
  <div id="me" class="current-player">X</div>
  <input type="button" class="button" value="Novo Jogo">
</div>
<table>
  <tr>
    <td id="0"></td>
    <td id="1"></td>
    <td id="2"></td>
  </tr>
  <tr>
    <td id="3"></td>
    <td id="4"></td>
    <td id="5"></td>
  </tr>
  <tr>
    <td id="6"></td>
    <td id="7"></td>
    <td id="8"></td>
  </tr>
</table>

{% endblock %}
